.oauth-callback {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  svg:not([data-icon]) {
    max-width: 500px;
    width: 50vw;
    max-height: 400px;
    margin-bottom: 50px;
  }

  #icone-outer {
    animation: zoomIn .5s, rotation-hourglass 5s 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }
}


