.type-demande {
  .ant-steps-label-vertical .ant-steps-item-title {
    font-size: 14px;
    line-height: 1.2;
    white-space: pre-wrap !important;
  }

  .ant-steps-item-active .ant-steps-item-title {
    font-weight: 500;
    color: var(--color-primary) !important;
  }

  .ant-steps-item-wait .ant-steps-item-title {
    color: var(--ant-color-text-secondary) !important;
  }

  .question-item {
    display: block;
    padding-bottom: 1rem;

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      font-size: 26px;
      margin-left: 8px;
    }

    .ant-form-item-label > label::after {
      display: none;
    }

    .ant-form-item-required {
      flex-direction: row-reverse;
    }

    .ant-radio-group .ant-radio-wrapper {
      display: flex;
    }
  }

  .question {
    margin-bottom: 0.5rem !important;
    font-weight: 500;
  }
}
