default:
  suites:
    default:
      contexts:
        - App\Tests\Behat\ReferentielContext
        - App\Tests\Behat\AuthenticationContext
        - App\Tests\Behat\EvenementContext
        - App\Tests\Behat\DemandeContext
        - App\Tests\Behat\UserContext
        - Behat\MinkExtension\Context\MinkContext
        - behatch:context:rest
        - behatch:context:json

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
        environment: 'test'
        debug: true
    'Behat\MinkExtension':
      base_url: 'http://example.com/'
      files_path: 'features/files'
      sessions:
        default:
          symfony: ~
    'Behatch\Extension': ~
    DVDoug\Behat\CodeCoverage\Extension:
      filter:
        include:
          directories:
            'src': ~
        exclude:
          directories:
            'src/Controller': ~
            'src/Command': ~
            'src/OpenApi': ~
            'src/Scheduler': ~
            'src/Service': ~
      reports:
        html:
          target: tests/coverage-behat
        clover:
          target: tests/coverage-clover.xml
