@use "sass:color";
@use "colors";
@use "variables";

:root {
  --color-intervenant: #{variables.$intervenant};
  --color-intervenant-light: #{variables.$intervenant-light};
  --color-beneficiaire: #{variables.$beneficiaire};
  --color-beneficiaire-light: #{variables.$beneficiaire-light};
  --color-renfort: #{variables.$renfort};
  --color-renfort-light: #{variables.$renfort-light};
  --color-demandeur: #{variables.$demandeur};
  --color-demandeur-light: #{variables.$demandeur-light};

  --color-danger: #{variables.$error};
  --color-danger-light: #{variables.$error-light};

  // --- Pour les types d'évènements

  @each $key, $val in colors.$colors-xlight {
    --color-xlight-#{$key}: #{$val};
  }
  @each $key, $val in colors.$colors-light {
    --color-light-#{$key}: #{$val};
  }
  @each $key, $val in colors.$colors-regular {
    --color-#{$key}: #{$val};
  }
  @each $key, $val in colors.$colors-dark {
    --color-dark-#{$key}: #{$val};
  }
}

@each $key, $val in colors.$colors-regular {
  .text-#{$key} {
    color: #{$val} !important;
  }
  .bg-#{$key} {
    background-color: #{$val} !important;
  }
  .border-#{$key} {
    border-color: #{$val} !important;
  }
}

@each $key, $val in colors.$colors-dark {
  .text-#{$key}-dark,
  .text-#{$key}-dark .ant-select-selection-item {
    color: #{$val} !important;
  }
  .bg-#{$key}-dark {
    background-color: #{$val} !important;
  }
  .border-#{$key}-dark {
    border-color: #{$val} !important;
  }
}

@each $key, $val in colors.$colors-light {
  .text-#{$key}-light {
    color: #{$val} !important;
  }
  .bg-#{$key}-light,
  .bg-#{$key}-light td {
    background-color: #{$val} !important;
  }
  .border-#{$key}-light {
    border-color: #{$val} !important;
  }
}

@each $key, $val in colors.$colors-xlight {
  .text-#{$key}-xlight {
    color: #{$val} !important;
  }
  .bg-#{$key}-xlight {
    background-color: #{$val} !important;
  }
}

@each $key, $val in colors.$colors-xlight {
  .text-#{$key}-xxlight {
    color: color.adjust($val, $lightness: 3.5%) !important;
  }
  .bg-#{$key}-xxlight {
    background-color: color.adjust($val, $lightness: 3.5%) !important;
  }
}
