@import "src/styles/variables";

.stripped {
  background-image: url("../../assets/images/strip.svg");
  background-position: left top;
}

.not-affecte, .not-affecte .ant-table-column-sort {
  background-color: $error-light !important;

  td:first-child {
    border-left: 3px solid $error;
  }
}


.affecte td:first-child {
  border-left: 3px solid transparent;
}
