@import '../../../styles/variables';
@import "../../../styles/helpers";

.ant-statistic-content-value {
  font-weight: 500;
}

.ant-card-stats-numeric {
  .ant-card-body {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.ant-card-stats-hoverable:hover {
  @extend .shadow-1;
  transition: all .25s;
}

.statistic-warning {
  background-color: $warning-light;

  .ant-statistic-content-value span {
    color: $warning;
  }

  svg {
    fill: $warning;
  }
}

.statistic-danger {
  background-color: $error-light;

  .ant-statistic-content-value span {
    color: $error;
  }

  svg {
    fill: $error;
  }
}

.stats-subrow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid $light-grey-border;
  border-radius: $radius;
  padding: 1rem;
  background-color: $light-grey;
  margin-top: 1.25rem;
  margin-left: 0 !important;
  top: calc(100% + 0.6em + 2px);
  position: relative;

  .ant-card {
    border: 1px solid #ebedee;
  }
}

.stats-subrow::before {
  content: "";
  background-image: url("../../../assets/images/corner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  border: none;

  width: 42px;
  height: 16px;

  /* 100% of the height of .tooltip */
  bottom: 100%;
}