@use "../../styles/variables" as variables;

.progress {
  background-color: var(--ant-color-bg-container);
  border-radius: 2 * variables.$radius;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
  border: 1px solid var(--ant-color-border);
}

.progress-done {
  border-radius: 2 * variables.$radius;
  color: var(--ant-color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  font-size: 14px;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 36px !important;
  color: var(--noir) !important;
  fill: var(--noir) !important;
  font-weight: 500;
  transform: translateY(4px);
}
